@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


*{
  margin: 0;
  padding: 0;
}


body{
  font-size: 1rem;
  display: grid;
  justify-content: center;
}

.cont{
  display: grid;
  position: relative;
  top: 5px;
}

section{
  height: 75px;
  margin: auto;
}

div{
  height: 75px;
  margin: auto;
  margin-top: 20px;
}

dialog{
  width: 75%;
  margin: auto;
  text-align: center;
}
